.left-sidebar-button,
.right-sidebar-button {
  position: fixed;
  top: 0;
  height: 36px;
  width: 150px;
  display: flex;
  align-items: center;
}

.left-sidebar-button {
  left: 0;
  flex-direction: row-reverse;
}

.right-sidebar-button {
  right: 0;
  flex-direction: row;
}

.sidebar-manager {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-left,
.sidebar-right {
  height: 100%;
  width: 150px;
  flex: none;
  background-color: #f4f4f4;
}

.sidebar-handle {
  height: 100%;
  width: 8px;
  margin-left: -4px;
  margin-right: -4px;
  z-index: 1;
  cursor: ew-resize;
  flex: none;
}
.sidebar-handle:hover {
  background-color: #c0c0c088;
}

.main {
  height: 100%;
  flex: auto;
}
